:root {
    --primary: #000;
    --secondary: #141414;
    --fontcolor: #fff;
    --bordercolor: #252525;
    --borderradius: 10px;
    --fontfamily: 'Courier New', Courier, monospace;
}

* {
    color: var(--fontcolor);
    font-family: var(--fontfamily);
}

html, body {
    background: var(--primary);
}

div, button, input, textarea {
    background: var(--secondary);
    outline: none;
    border-radius: var(--borderradius);
    border: solid var(--bordercolor);
    padding: 10px;
}


